#intro {
    background-image: url(../assets/images/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: auto;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 7.5rem;

   header {
    display: grid;
    margin-inline: auto;

    #img-icn {
        margin-inline: auto;
        margin-bottom: 3.5rem;
        width: fit-content;
    position: relative;
    }

    h1 {
        font: var(--title-lg) ;
        color: var(--gray-600);
        margin-bottom: 1.25rem;
        text-align: center;
    }

    h2 {
        font: var(--sub-title);
        color: var(--gray-500);
        margin-bottom: .5rem;
        text-align: center;
        
    }

    p {
        font: var(--text-sm);
        color: var(--gray-400);
        margin-bottom: .5rem;
        text-align: center;

    }

    strong {
        color: var(--red-color);
        font: var(--sub-title);




}

 }

  }

  #icones {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 5rem ;

    
     }

     .card-icn {

        
        display: flex;
        align-items: center;
        gap: .5rem; 
        background-color: var(--gray-300);

        height: 2.5rem;
        padding: .5rem 1rem;
        cursor: pointer;
        border-radius: 999px;
        transition: outline 300ms ease, scale 400ms ease-in;

        & img {
            height: 1.5rem;
            aspect-ratio: 1;
        }
        
        
        & span {
            font: var(--text-md);
            color: var(--gray-500);
        }
        
        &:hover {
            outline: 1.5px solid var(--gray-400);
            scale: 1.1;
        }
        }

        #set {
            margin-inline: auto;
            margin-top: 5.875rem;
            
        }

    #projects { 
        background-color: var(--gray-200);

        header {
            padding-block: 4.75rem 3.5rem;
            display: grid;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            
            


            
        }

         } 

         #six-prj {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            max-width: 65rem;
            margin-inline: auto;
            padding-bottom: 9rem;


         }

         .card-div {
            
            
            background-color: var(--gray-300);
            border-radius: 8px;
            max-width: 330px;
            max-height: 280px;
            cursor: pointer;
            transition: all 600ms ease;
            margin-top: 56px;

            &:hover {
                outline: 1.5px solid var(--gray-400);
                scale: 1.05;
            }

            img {
                border-radius: 8px;
                object-fit: cover;
                width: 306px;
                height: 156px;
                margin: 12px;

               
            }


            

            h3 {
                color: var(--gray-600);
                font: var(--title-sm);
                margin: 4px;
            }

            p {
                color: var(--gray-500);
                font: var(--text-sm);
                margin: 4px;
            }
         }

         .handp {
            margin-inline: 12px;
            margin-bottom: 17px;

            
           

            
            
            }

            .serviços {
                background-color: var(--gray-100) ;

                header {
                    margin-bottom: 3.5rem ;
                }
            }

            #especify {
                display: flex;
                flex-wrap: wrap;
                padding-block: 3.5rem 7.5rem ;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
            }



                 img {
                    margin-top: 1.25rem;
                    margin-left: 1.25rem;
                }

                
                

                .card-work {
                    border: solid 2px var(--gray-200);
                    border-radius: 0.75rem;

                    
                    &:hover {
                        outline: 1.5px solid var(--gray-400);
                        scale: 1.05;
                    }
                    
                    div {
                        margin: 1.25rem;

                     

                    
                   

                     

                    h3 {
                        color: var(--gray-600);
                        font: var(--title-sm);
                        margin-bottom: .5rem;
                        
                    }

                    p {
                        color: var(--gray-500);
                        font: var(--text-sm);
                        

                }   } }


            

        

